@charset "utf-8";

.box {
  display: flex;
  gap: 20px;
}

.box div {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.orange {
  background: orange;
}

.lightblue {
  background: lightblue;
}

.lightpurple {
  background: rgb(225, 173, 230);
}
