@charset "utf-8";
body {
  font-family: "맑은 고딕";
}

table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 400px;
}

th {
  text-align: center;
  border: 1px solid #000;
  height: 40px;
  width: 100px;
}

td {
  text-align: center;
  border: 1px solid #000;
  height: 40px;
}

.title {
  width: 130px;
}

.tt {
  width: 270px;
}

a {
  text-decoration: none;
}
