@charset "utf-8";

div {
  width: 100px;
  height: 100px;
  background: red;
  /* 원래요소에 transtion */
  transition: all 3s;
  transition: all 3s ease-in-out;
  /* 지연시간 */
  transition: all 3s ease-in-out 2s;
  transition-delay: 2s;

  /* 크로스 브라우징 */
  /* -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-trans */
}

div:hover {
  width: 1500px;
}
