@charset "utf-8";

body {
  font-family: "맑은 고딕";
  background: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 678px;
  height: 527px;
  border: solid 10px #fff;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
}

div p {
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 50px;
  color: #fff;
  line-height: 90px;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: -100%;
  transition: all 1s ease-in-out;
}

div:hover p {
  left: 0%;
}
